/* ~/.config/waybar/style.css */
* {
  font-family: "Hack Nerd Font", monospace;
  font-size: 14pt;
  min-height: 0;
  margin: 2px;
  padding: 0;
}

window#waybar {
  background: transparent;
  color: #cec0b2;
}

#workspaces {
  background: #303030;
  border-radius: 30px;
  padding: 5px;
}

/* Modules */
#workspaces button { 
  padding: 0 5px; 
  background: #303030;
  color: #636363;
  transition: all 250ms ease-in-out;
  border-bottom: 3px solid transparent;
  border: 0px;

}
#workspaces button.active {
  color: #ffc58f;
  background: #505050;
  min-width: 70px;
  border-radius: 30px;
  padding: 1px;
}

#clock {
  padding: 15px;
  background: #353535;
  color: #ffcb9b;
  border-radius: 30px;
}


#network {
  padding: 15px;
  background: #424242;
  color: #ffbf83;
  border-radius: 30px;
}

#battery {
  padding: 15px;
  background: #474747;
  color: #fdb470;
  border-radius: 30px;
}

#pulseaudio {
  padding: 15px;
  background: #4d4d4d;
  color: #fcab60;
  border-radius: 30px;
}

#memory {
  padding: 15px;
  background: #5e5e5e;
  color: #ffa653;
  border-radius: 30px;
}

#cpu {
  padding: 15px;
  background: #646464;
  color: #ffa047;
  border-radius: 30px;
}

#window {
  padding: 15px;
  background: #303030;
  color: #ffc58f;
  border-radius: 20px;
}